// colors

$red: #e3001a;
$gray: #404040;
$sand: #e3dec0;
$pale: #efecda;


* {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

.body-wrapper {
    max-width: 1200px;
    margin: auto;
}

/** Heading Styles **/

h2 {
    font-family: 'Arvo';
    font-size: 1.8em;
    padding: 30px 0 5px 0;
    font-weight: 700;
    color: $gray;
}

h3 {
    font-family: 'Montserrat';
    font-size: 1.4em;
    padding: 30px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $sand;
}


h5 {
    font-family: 'Montserrat';
    font-size: 0.9em;
    padding-bottom: 10px;
    color: $gray;
}

h6 {
    font-family: 'Montserrat';
    font-style: italic;
    color: $gray;
}

h2.inner-header {
    font-size: 2.5em;
    background-color: $pale;
    font-weight: 300;
    padding: 15px;
    color: $gray;
    text-align: center;
    margin-bottom: 10px;
}

/** Header **/

header {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

#header-left {
    flex: 1;
}

#header-left img {
    width: 100%;
    margin: auto;
    display: block;
}

#header-right {
    flex: 1;
}

#inner-header-wrapper {
    display: flex;
}

#inner-figure {
    flex: 1;
}

img#mobile-headshot {
    display: none;
}

img#logo-1 {
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 160px;
    margin-bottom: 75px;
}

img.logo-inner {
    width: 33%;
    padding-top: 15px;
    float: left;
}

#header-right button {
    background-color: $red;
    height: 50px;
    width: 200px;
    margin-top: 10px;
    margin: auto;
    display: block;
    font-family: "Montserrat";
    text-transform: uppercase;
}

#header-right button a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

button #animate {

}

button.btn-inner, button.search-submit, .sidebar-contribute-btn {
    background-color: $red;
    height: 60px;
    width: 200px;
    margin-top: 10px;
    margin: auto;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #fff;
}

button.search-submit {
    height: 35px;
}

button.btn-inner a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    margin: auto;
}

button.btn-inner a:hover {
    color: $pale;
}

#sm-top {
    width: 150px;
    height: 100px;
    float: right;
    display: flex;
}

#sm-top-inner {
    width: 150px;
    height: 100px;
    float: right;
    display: flex;
    margin-top: 35px;
    padding-left: 40px;
}

.fb {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../assets/img/facebook.svg');
    background-repeat: no-repeat;
    flex: 1;
}

.tw {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../assets/img/twitter.svg');
    background-repeat: no-repeat;
    flex: 1;
}


/** Navigation **/
nav.nav-home-top {
    max-width: 1200px;
    margin: auto;
    background-color: $sand;
}

.nav-home-top ul {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.nav-home-top ul li {
    flex: 1;
}

.nav-home-top ul li a {
    display: block;
    color: $gray;
    text-decoration: none;
    padding: 40px 0;
    text-align: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.nav-home-top ul li.nav-active {
    display: block;
    background-color: $pale;
    text-decoration: none;
    padding: 40px 0;
    text-align: center;
    font-family: 'Montserrat';
    height: 100%;
    text-transform: uppercase;
}

.nav-home-top ul li a:hover {
    color: $red;
}

/** Inner pages content **/

.inner-main, .comments, .comment-box {
    max-width: 960px;
    margin: auto;
}

section h2 {
    font-family: 'Arvo';
    font-size: 1.8em;
    padding: 30px 0 5px 0;
    font-weight: 700;
    color: $gray;
}

section.inner-main p {
    font-family: 'Montserrat';
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 7px;
    line-height: 1.5;
    color: $gray;
}

section ul li {
    font-family: 'Montserrat';
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 7px;
    line-height: 1.5;
    color: $gray;
    list-style-position: inside;
}

ul.post-categories {
    list-style-type: none;
    padding-top: 5px;
    color: $red;
}

.post-categories li {
    display: inline;
    padding-right: 5px;
}

ul.post-categories a {
    color: $red;
}

/** Issues grid **/
#card-wrapper {
    max-width: 600px;
    margin: auto;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 400px 400px 400px;
    // grid-template-areas: "economic taxes" "smalltown safety" "development children"
}

#economic {
    grid-area: economic;
}

#taxes {
    grid-area: taxes;
}

#smalltown {
    grid-area: smalltown;
}

#safety {
    grid-area: safety;
}

#development {
    grid-area: development;
}

#children {
    grid-area: children;
}

.cards {
    text-align: center;
    font-family: "Arvo";
    font-size: 1.5em;
    background-color: $sand;
    margin: 10px;
    padding: 160px 10px;
}

#card-wrapper a {
    text-decoration: none;
    color: $gray;
}

#card-wrapper a:hover {
    color: $red;
}

/** Issues page with sidebar **/

.issues-wrapper {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "issues-left widget-right"
}

.issues-left {
    grid-area: issues-left;
}

.widget-right {
    grid-area: widget-right;
    font-family: 'Montserrat';
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 7px;
    line-height: 1.5;
    color: $gray;
    margin-top: 50px;
    margin-left: 50px;
}

.issues-left p {
    font-family: 'Montserrat';
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 7px;
    line-height: 1.5;
    color: $gray;
}

.issue-card {
    height: 50px;
    background-color: $sand;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-left: 15px;
}

.issue-card a {
    text-decoration: none;
    color: $gray;
}

.issue-card a:hover {
    color: $red;
}

time {
    font-family: 'Montserrat';
    font-size: 0.8em;
    text-transform: uppercase;
    color: $gray;
    display: block;
    padding-top: 20px;
}

.contact-card {
    height: 300px;
    background-color: $sand;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-left: 15px;
}

input.search-input {
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    background-color: #fff;
}

input.submit {
    background-color: $red;
    color: #fff;
    height: 35px;
    width: 200px;
    text-transform: uppercase;
}

button.read-more {
    height: 30px;
    width: 100px;
    background-color: $red;
    margin-top: 10px;
    margin-bottom: 20px;
}

button.read-more a {
    text-decoration: none;
    color: #fff;
}

a.blog-link {
    text-decoration: none;
    color: $red;
}

a.view-article {
    color: $red;
}

.thumbnail img {
    width: 50%;
    display: block;
    margin: auto;
    padding: 15px 0;
}

#recent-posts-2 {
    background-color: $sand;
    margin-top: 20px;
    padding: 10px;

}

#recent-posts-2 a {
    font-size: 0.9em;
    color: $red;
}

#recent-posts-2 h5, #text-2 h5, #search-box h5 {
    font-size: 1.2em;
    padding-top: 10px;
}

#recent-posts-2 li {
    list-style: none;
}

.pagination {
    font-family: 'Montserrat';
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

.search-results, .search-results span {
    font-family: 'Montserrat';
    margin-top: 20px;
    background-color: #fff;
}

.pagination a, .search-results a {
    color: $red;
}


/** Call to action buttions **/
#cta-wrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
}
.call-to-action {
    flex: 1;
    text-align: center;
    margin: 5px;
    height: 200px;
    background-color: $red;
}

#cta-wrapper article a {
    text-decoration: none;
    color: #ffffff;
}

#cta-wrapper article a:hover {
    color: $sand;
}

#cta-wrapper article a h3 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 300;
    padding: 70px 0 0 0;
}

#cta-wrapper article a p {
    font-family: 'Arvo';
    font-size: 1.2em;
    font-weight: 400;
    color: #ffff;
}

/** Banner **/
#hp-banner {
    position: relative;
    width: 100%;
}

#hp-banner img {
    max-width: 1200px;
    margin: auto;
    display: block;
}

#inner-banner {
    position: relative;
    width: 100%;
}

#inner-banner img {
    max-width: 1200px;
    margin: auto;
    display: block;
}

h4 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Arvo';
    font-size: 1.8em;
    font-weight: 300;
}

h4 span {
    color: white;
    background-color: rgba(193, 66, 66, 0.76);
    padding: 50px 250px;
    color: $sand;
}

#naperville {
    font-family: 'Montserrat';
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0);
}

/** Contact form **/

#contact-form, .comments, .comment-box, form.search {
    background-color: $sand;
    margin-top: 50px;
    font-family: 'Montserrat';
    padding: 25px;
    align-items: center;
}

#contact-form p {
    line-height: normal;
    font-weight: 700;
}

#contact-form input {
    width: 90%;
    height: 35px;
    margin: auto;
}

input.wpcf7-submit
{
    height: 35px;
    color: #fff;
    background-color: $red;
    text-transform: uppercase;
    font-weight: 300;
}



/** Bottom logo **/

figure#logo-2 {
    max-width: 1200px;
    margin: auto;
}

figure#logo-2 img {
    width: 30%;
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}


/** Nav Bottom **/
nav.nav-home-bottom {
    max-width: 960px;
    margin: auto;
}

.nav-home-bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.nav-home-bottom ul li {
    flex: 1;
}

.nav-home-bottom ul li a {
    display: block;
    color: $gray;
    text-decoration: none;
    padding: 40px 0;
    text-align: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.nav-home-bottom ul li.nav-active {
    display: block;
    background-color: $pale;
    text-decoration: none;
    padding: 40px 0;
    text-align: center;
    font-family: 'Montserrat';
    height: 100%;
    text-transform: uppercase;
}

.nav-home-bottom ul li a:hover {
    color: $red;
}

/** Footer **/

#sm-bottom {
    width: 150px;
    height: 120px;
    margin: auto;
    display: flex;
}

footer {
    width: 100%;
    background-color: $gray;
    height: 80px;
}

p#footer {
    font-family: 'Montserrat';
    font-weight: 300;
    color: $pale;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding: 30px 0;
    font-size: 0.8em;
}

#footer a {
    color: $pale;
}

#footer a:hover {
    text-decoration: none;
    color: $sand;
}


/** Comments **/

input#comment-submit {
    background-color: $red;
    color: #fff;
}

textarea {
    width: 90%;
    height: 100px;
}

label {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
    padding: 10px 0;
}

.comment-reply-title {
    color: $gray;
}

.comm-response-content {
    padding-bottom: 100px;
}
 .comm-response-content, .comment-body {
     background-color: $pale;
     padding: 30px;
     margin: 15px 0;
 }

 .comments a, .comments-response a, .comment-body a{
     color: $red;
 }

 #author, #email {
     height: 35px;
     margin-top: 10px;
 }

 .comment-box ul {
     padding-left: 20px;
     list-style: none;
 }

 .comment-body {
     line-height: 1.5;
 }

/** 404 page **/

#post-404 a {
    color: $red;
}

/** Media Queries **/

@media all and (max-width: 687px) {
  #header-left {
      display: none;
  }
  #mobile-headshot {
      display: block;
      width: 75%;
      margin: auto;
      margin-bottom: 25px;
  }
  #header-right button {
      margin-bottom: 20px;
  }
  .nav-home-top ul {
      font-size: 0.7em;
  }
  #cta-wrapper {
      display: block;
  }
  #for-a-better {
      display: none;
  }
  #naperville {
      display: none;
  }
  #hp-banner img {
      width: 100%;
  }
  .nav-home-bottom {
      font-size: 0.7em;
  }
  .nav-home-top ul li.nav-active {
      padding: 60px 0;
  }
  #inner-banner img {
      width: 100%;
  }
  #inner-banner h4 {
      display: none;
  }
  .inner-main {
      padding: 15px;
  }
  #card-wrapper {
      display: block;
  }
  .issues-wrapper {
      display: block;
      padding: 15px;
  }
  .widget-right {
      margin-left: 0;
  }
  button.btn-inner {
      display: none;
  }
  #sm-top-inner {
      display: none;
  }
  img.logo-inner {
      width: 60%;
      max-width: 300px;
      display: block;
      margin: auto;
      float: none;
  }

  .thumbnail img {
      width: 80%;
  }

}

@media all and (min-width: 687px) {
    .inner-main {
        padding: 20px;
    }
    .issues-wrapper {
        padding: 20px;
    }
}
